body,
html {
  background-image: url("../img/art-no beam.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.modal {
  display: block;
}

@media only screen and (min-width: 1366px) {
  .modal {
    text-align: center;
  }
  body, html {
  background-image: url("../img/art.jpg");
  }
  .beam, .accelDirections{
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  body, html {
  background-image: url("../img/art-no beam.png");
  }
  .beam, .accelDirections{
    display: block;
  }
}

.accelDirections{
  display: block;
  margin: 0;
}

.beam {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(../img/beam.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebebeb00;
  position: absolute;
  top: 0%;
  left: 0%;
  mix-blend-mode: lighten;
  transform-origin: center 62%;
}
