//Mobile

@import url("https://p.typekit.net/p.css?s=1&k=qbw2bro&ht=tk&f=12560.12561.12562.12563&a=55228952&app=typekit&e=css");

@font-face {
  font-family: "vag-rundschrift-d";
  src: url("https://use.typekit.net/af/7be1d2/000000000000000077359f08/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/7be1d2/000000000000000077359f08/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/7be1d2/000000000000000077359f08/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "vag-rundschrift-d";
  src: url("https://use.typekit.net/af/928ec3/000000000000000077359f0e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/928ec3/000000000000000077359f0e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/928ec3/000000000000000077359f0e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "vag-rundschrift-d";
  src: url("https://use.typekit.net/af/071449/000000000000000077359f0d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/071449/000000000000000077359f0d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/071449/000000000000000077359f0d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "vag-rundschrift-d";
  src: url("https://use.typekit.net/af/1073af/000000000000000077359f13/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1073af/000000000000000077359f13/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1073af/000000000000000077359f13/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}
body,
html {
  font-family: "vag-rundschrift-d", sans-serif;
  font-weight: 300;
  font-style: light;
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  a {
    color: #fff;
  }
}
#navWrap {
}
.drop-wrapper {
  margin: auto 0 0 0;
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7463936258096988) 49%,
    rgba(0, 0, 0, 0.6791667350533963) 59%,
    rgba(0, 0, 0, 0.5279062308517157) 72%,
    rgba(0, 0, 0, 0.44947485830269607) 77%,
    rgba(0, 0, 0, 0.2449930655856093) 86%,
    rgba(255, 255, 255, 0) 100%
  );
  grid-template-rows: 47% 10% auto;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  min-height: fit-content;
}

.logo {
  height: 73px;
  cursor: pointer;
}

#logo1 {
  margin-bottom: 10px;
}

#logoMenu {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
}

#logoClosed {
  height: 73px;
  display: block;
  position: fixed;
  z-index: inherit;
  bottom: 0;
  margin: 0 auto 10px auto;
  grid-template-rows: 47% 10% auto;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  left: 50%;
  transform: translateX(-50%);
}

.drop-menu {
  // width: 100%;
  text-align: left;
  font-size: 20px;
  position: sticky;
  //display: none;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: end;
}

ul {
  padding-left: 0px;
  margin-block-start: 35px;
  margin-block-end: 0px;
}
li {
  margin: 0;
  padding: 0;
}

.drop-menu a {
  text-align: center;
  padding: 5px 0;
}
.drop-menu a {
  display: block;
  //padding: 0.5rem 0.5rem;
  text-decoration: none;
}

#m0 {
  letter-spacing: 10px;
  text-indent: 10px;
}

#m1 {
  letter-spacing: 10px;
  text-indent: 10px;
}
#m2 {
  letter-spacing: 10px;
  text-indent: 10px;
}
#m3 {
  letter-spacing: 10px;
  text-indent: 10px;
}
#m4 {
  letter-spacing: 10px;
  text-indent: 10px;
}
#m5 {
  letter-spacing: 10px;
  text-indent: 10px;
}
.socials {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 30px 0;
}

a#Layer_1 {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
svg#Layer_1 {
  width: 17px;
  height: 17px;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  min-height: 5px;
  padding: 0 auto;
}
