@import url("https://p.typekit.net/p.css?s=1&k=qbw2bro&ht=tk&f=12560.12561.12562.12563&a=55228952&app=typekit&e=css");
@import url("https://use.typekit.net/qbw2bro.css");
* {
  -webkit-font-smoothing: antialiased;
}

body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body a,
html a {
  color: #fff;
  text-decoration: none;
}

body p,
html p {
  color: #ffffff;
}

ul {
  padding-left: 30px;
  list-style-type: none;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: forma-djr-deck, sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  background-color: #dd0000;
  font-size: 0.88em !important;
}

.logo {
  height: 73px;
  cursor: pointer;
}

a#icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

svg#icon {
  width: 17px;
  height: 17px;
}

.modal {
  display: none;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: smaller;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 900;
  padding: 20px;
}

.formModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-bottom: 15px;
}

table {
  border-spacing: 0px;
}

input#MERGE0.field {
  border-style: solid;
  border: black;
  border-radius: 0;
}

input#MERGE0.field::-webkit-input-placeholder {
  font-style: italic;
}

input#MERGE0.field:-ms-input-placeholder {
  font-style: italic;
}

input#MERGE0.field::-ms-input-placeholder {
  font-style: italic;
}

input#MERGE0.field::placeholder {
  font-style: italic;
}

input.button {
  background-color: #dd0000;
  color: #ffffff;
  font-size: 0.88em !important;
  border-width: 0px;
  border-color: black;
  border-radius: 0;
  cursor: pointer;
  padding: 15px;
  margin: 0;
  -webkit-appearance: none;
  height: 39px;
}

td {
  padding: 0;
}

tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signUp p {
  line-height: 24px;
}

/*NOT MOBILE*/
@media only screen and (min-width: 768px) {
  svg#close {
    position: absolute;
    right: 20px;
    z-index: 200;
    width: 12px;
    height: 12px;
  }
  #logo1 {
    margin-bottom: 10px;
  }
  #logoMenu {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 15px;
    top: -73px;
  }
  #logoClosed {
    height: 73px;
    display: block;
    position: fixed;
    z-index: inherit;
    bottom: 0;
    left: 15px;
    margin: 0 auto 10px auto;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .drop-wrapper {
    font-style: light;
  }
  .drop-wrapper {
    margin: auto 0 0 0;
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(49%, rgba(0, 0, 0, 0.746394)), color-stop(59%, rgba(0, 0, 0, 0.679167)), color-stop(72%, rgba(0, 0, 0, 0.527906)), color-stop(77%, rgba(0, 0, 0, 0.449475)), color-stop(86%, rgba(0, 0, 0, 0.244993)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.746394) 49%, rgba(0, 0, 0, 0.679167) 59%, rgba(0, 0, 0, 0.527906) 72%, rgba(0, 0, 0, 0.449475) 77%, rgba(0, 0, 0, 0.244993) 86%, rgba(255, 255, 255, 0) 100%);
    -ms-grid-rows: 10% auto auto;
        grid-template-rows: 10% auto auto;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .drop-menu {
    text-align: left;
    font-size: 14px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  ul {
    -webkit-margin-before: 35px;
            margin-block-start: 35px;
    -webkit-margin-after: 0px;
            margin-block-end: 0px;
    margin-bottom: 20px;
  }
  il {
    margin: 0;
    padding: 0;
  }
  .drop-menu a {
    display: block;
  }
  /* SignUp */
  input#MERGE0.field {
    width: 16vw;
    height: 37px;
  }
  #signUp {
    display: none;
  }
  li .signUp {
    color: white;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: smaller;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  .signup {
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
  }
  #m0 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m1 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m2 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m3 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m4 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m5 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #m6 {
    letter-spacing: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 30px 0 10px 0;
  }
  .row-1,
  .row-2,
  .row-3,
  .row-4,
  .row-5,
  .row-6,
  .row-7,
  .row-8,
  .row-9,
  .row-10 {
    min-height: 5px;
    padding: 0 auto;
    margin-right: 30px;
  }
  a.nabla {
    font-size: 10px !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/*MOBILE*/
@media only screen and (max-width: 768px) {
  #logo1 {
    margin-bottom: 10px;
  }
  #logoMenu {
    margin: auto;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #logoClosed {
    height: 73px;
    display: block;
    position: fixed;
    z-index: inherit;
    bottom: 0;
    margin: 0 auto 10px auto;
    -ms-grid-rows: 10% 10% auto;
        grid-template-rows: 10% 10% auto;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .drop-wrapper {
    margin: auto 0 0 0;
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(49%, rgba(0, 0, 0, 0.746394)), color-stop(59%, rgba(0, 0, 0, 0.679167)), color-stop(72%, rgba(0, 0, 0, 0.527906)), color-stop(77%, rgba(0, 0, 0, 0.449475)), color-stop(86%, rgba(0, 0, 0, 0.244993)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.746394) 49%, rgba(0, 0, 0, 0.679167) 59%, rgba(0, 0, 0, 0.527906) 72%, rgba(0, 0, 0, 0.449475) 77%, rgba(0, 0, 0, 0.244993) 86%, rgba(255, 255, 255, 0) 100%);
    -ms-grid-rows: 47% 10% auto;
        grid-template-rows: 47% 10% auto;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .drop-menu {
    text-align: left;
    font-size: 20px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  ul {
    padding-left: 0px;
    -webkit-margin-before: 35px;
            margin-block-start: 35px;
    -webkit-margin-after: 0px;
            margin-block-end: 0px;
  }
  il {
    margin: 0;
    padding: 0;
    height: 30px;
  }
  .drop-menu a {
    text-align: center;
    padding: 5px 0;
    display: block;
  }
  svg#close {
    position: absolute;
    right: 20px;
    z-index: 200;
    width: 12px;
    height: 12px;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  input#MERGE0.field {
    height: 40px;
  }
  .signUpItem {
    display: none;
  }
  #m0 {
    letter-spacing: 10px;
  }
  #m1 {
    letter-spacing: 10px;
  }
  #m2 {
    letter-spacing: 10px;
  }
  #m3 {
    letter-spacing: 10px;
  }
  #m4 {
    letter-spacing: 10px;
  }
  #m5 {
    letter-spacing: 10px;
  }
  #m6 {
    letter-spacing: 10px;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .row-1,
  .row-2,
  .row-3,
  .row-4,
  .row-5,
  .row-6,
  .row-7,
  .row-8 {
    min-height: 5px;
    padding: 0 auto;
  }
  a.nabla {
    font-size: 10px !important;
    margin-left: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/*# sourceMappingURL=main.css.map */