body,
html {
  background-color: #000000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  margin-top: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.text {
  display: grid;
  margin: 20px;
  text-align: center;
}

p {
  color: #ffffff;
}

.title {
  font-weight: 700;
}
