.links {
  font-style: normal;
  font-weight: 100;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;

  & a {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    background-clip: text;

    &:hover {
      animation-name: pulse;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@media (max-width: 768px) {
  .links {
    width: 100%;
    flex-direction: column;

    & a {
      font-size: 8vw;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 35%;
  }
  100% {
    opacity: 100%;
  }
}
