body,
html {
  background-color: #000000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

.album {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  color: #ffffff;
}

.textWrap {
  display: flex;
  flex-direction: column;
  margin: 15px 0 20px 0;
}

.row-music {
  margin: 0 auto;
  padding-bottom: 130px;
  column-gap: 50px;
  row-gap: 40px;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.musicWrap{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.musicWrap form{
  margin: 0 auto;
}

.singles {
  display: flex;
  gap: 40px;
}

img {
  justify-self: end;
}

h2 {
  font-size: x-large;
  text-transform: uppercase;
}
span {
  font-style: italic;
  font-size: x-small;
}

h2,
span {
  display: inline;
  color: #ffffff;
  font-family: forma-djr-deck, sans-serif;
  width: fit-content;
}
.streamLink {
  width: fit-content;
  font-weight: 900;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  background-color: #dd0000;
  font-size: 0.88em !important;
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
  .row-music {
    margin-top: 30px;
    flex-direction: column;
    padding-bottom: 90px;
    row-gap: 50px;
  }
  .singles{
    flex-direction: column;
  }
  .musicWrap img {
    height: 85vw;
    width: 85vw;
  }
}
