body,
html {
  background-color: #000000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 20% 70% auto;
}

#album {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

#text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
  color: #ffffff;
}

.row-music {
  margin: 0 auto;
  column-gap: 50px;
  row-gap: 25px;
  height: fit-content;
}

img {
  justify-self: end;
}

h2 {
  color: #ffffff;
  font-size: x-large;
  font-family: forma-djr-deck, sans-serif;
  text-transform: uppercase;
}

.streamLink {
  width: fit-content;
  font-weight: 900;
  font-size: 28px;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  background-color: #dd0000;
  font-size: 0.88em !important;
}
