---
import Layout from 'layout';
import Canvas from "components/canvas.astro";
import Links from 'components/links.astro';
import Newsletter from 'components/newsletter.astro';
---

<Layout>
	<main>
    <div class="flex h-full w-full flex-col items-center pt-3 md:justify-center">
      <Canvas />
      <Links />
	  <Newsletter/>
    </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		height: 100%;
	}
</style>
<script>
</script>