---
import Layout from "layout";
import Canvas from "components/canvas.astro";
import Links from "components/links.astro";
import Newsletter from "components/newsletter.astro";
---

<Layout>
  <div class="flex h-full w-full flex-col items-center pt-3 md:justify-center">
    <Canvas />
    <Links />
    <Newsletter />
  </div>
  <p id="agent" class=""></p>
</Layout>
<script>
  const agent = document.getElementById("agent");
  if (agent) agent.innerHTML = navigator.userAgent;
</script>
