---
import Icon from "./icons";
---

<div class="social_div">
  <Icon num={1} />
  <a
    href="https://music.apple.com/us/artist/geese/1378038472"
    title="apple music"
    target="_blank"
  >
    <Icon num={0} />
  </a>
  <a
    href="https://open.spotify.com/artist/0WCo84qtCKfbyIf1lqQWB4?si=kU13Aru_R-Sg51Nq6bAbQw"
    title="spotify"
    target="_blank"
  >
    <Icon num={3} /></a
  >
  <a
    href="https://www.tiktok.com/@geese.band?lang=en"
    title="tiktok"
    target="_blank"
  >
    <Icon num={4} /></a
  >
  <a
    href="https://www.instagram.com/geesebandnyc/"
    title="instagram"
    target="_blank"
  >
    <Icon num={2} /></a
  >
  <a href="https://twitter.com/geese_band" title="twitter" target="_blank">
    <Icon num={5} /></a
  >
  <Icon num={1} />
</div>
