---
import Icon from "./icons";
---

<div class="social_div">
  <Icon num={1} />
  <a href="https://music.apple.com/us/artist/geese/1378038472" target="_blank">
    <Icon num={0} />
  </a>
  <a
    href="https://open.spotify.com/artist/0WCo84qtCKfbyIf1lqQWB4?si=kU13Aru_R-Sg51Nq6bAbQw"
    target="_blank"
  >
    <Icon num={3} /></a
  >
  <a href="https://www.tiktok.com/@geese.band?lang=en" target="_blank">
    <Icon num={4} /></a
  >
  <a href="https://www.instagram.com/geesebandnyc/" target="_blank">
    <Icon num={2} /></a
  >
  <a href="https://twitter.com/geese_band" target="_blank"> <Icon num={5} /></a>
  <Icon num={1} />
</div>
<style>
  .social_div {
    margin-top: auto;
    /* padding-top: 25px; */
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: center;
    justify-content: space-between;
  }

  .social_icons {
    width: auto;
    height: 25px;
  }
</style>
