body,
html {
  background-color: #000000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-rows: 10% auto 5%;
  height: 100%;
  width: 100%;
}

.blankDiv {
  grid-row-start: 1;
  grid-row-end: 1;
}

.tourSignup p#text {
  text-align: center;
}

.tourSignup {
  justify-self: center;
  font-size: smaller;
  width: max-content;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.signUp {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media only screen and (min-width: 768px) {
  div.tourSignup input#MERGE0.field {
    height: 40px;
  }
  .songkick {
    margin: 0 20vw;
  }
}

@media only screen and (max-width: 768px) {
  div.tourSignup div.signUp form {
    margin: 0 50px;
  }
  .signUp {
    padding-bottom: 90px;
  }
}
