body,
html {
  background-color: #000000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.container {
  height: 100%;
  width: 100vw !important;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
  color: #ffffff;
}

iframe {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 45vw;
}

.videoWrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding-bottom: 90px;
}

@media only screen and (max-width: 768px) {
  .videoWrap {
    margin-top: 30px;
    flex-direction: column;
  }
}
