---
import GoogleAnalytics from "components/Analytics.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/metadata/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/metadata/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/metadata/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/images/metadata/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#fffaea" />
    <meta name="description" content="Geese" />
    <meta name="generator" content={Astro.generator} />

    <GoogleAnalytics />
    <title>Geese</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html,
      body {
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        height: 100dvh;
        /* height: 100vh; */
        width: 100vw;
        background-color: #fffaea;
      }

      @font-face {
        font-family: "Caslon";
        src: url("/fonts/Caslon Ionic-Regular Italic.otf");
        font-style: italic;
      }

      @font-face {
        font-family: "geeseband";
        src: url("/fonts/geeseband.otf");
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      * {
        box-sizing: border-box;
      }

      .title {
        font-family: Caslon;
      }

      .link {
        font-family: geeseband;
        font-size: 17px;
        line-height: 19px;
      }
      .social_div {
        margin-top: auto;
        /* padding-top: 25px; */
        width: 350px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-self: center;
        justify-content: space-between;
      }

      .social_icons {
        width: auto;
        height: 25px;
      }
    </style>
  </body>
</html>
